<template>
    <div id="AppDet" class="row">
        <b-container class="bv-example-row">
            <b-row style="margin-bottom: 20px;margin-left: 0px;">
                <h3>{{Title}}</h3>
            </b-row>
            <b-row style="margin-bottom: 20px;">
                <b-col>
                    <b-form-group id="fieldset-1"
                                  label="First Name">
                        <b-form-input v-model="nameEmployee" placeholder="First Name">
                        </b-form-input>
                    </b-form-group>
                </b-col>
                <b-col>
                    <b-form-group id="fieldset-1"
                                  label="Last Name">
                        <b-form-input v-model="lastNameEmployee" placeholder="Last Name">
                        </b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row style="margin-bottom: 20px;">
                <b-col>
                    <b-form-group id="fieldset-1"
                                  label="Permission Date">
                        <b-form-datepicker id="permissionDate" v-model="permissionDate" class="mb-2"></b-form-datepicker>
                    </b-form-group>
                </b-col>
                <b-col>
                    <b-form-group id="fieldset-1"
                                  label="Permissions Type">
                        <b-form-select v-model="permissionTypeId" :options="PermissionsType" value-field="value" text-field="text">
                        </b-form-select>
                    </b-form-group>
                </b-col>

            </b-row>
            <b-row>
                <b-col class="row d-flex flex-row" style="padding-right: 0px;margin-left: 0px;"><b-button to="/"><b-icon icon="arrow-left"></b-icon> Back</b-button></b-col>
                <b-col class="row justify-content-end" style="padding-right: 0px;padding-left: 0px;margin-right: 15px;"><b-button variant="success" @click="validation()">{{ button.text }}</b-button></b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
    export default {
        name: 'AppDet',
        components: {

        },
        data() {
            return {
                Title: "Create Permission",

                PermissionsType: [],
                Id: 0,
                nameEmployee: "",
                lastNameEmployee: "",
                permissionDate: "",
                permissionTypeId: 0,
                button: {
                    text: 'Create'
                },
                Create: []

            }
        },
        created() {
            this.getPermissionType();

            if (this.$route.params.id > 0) {
                this.changeElement();
                this.getPermission(this.$route.params.id);
            }

        },
        methods: {
            //Get permission type
            getPermissionType: function () {

                this.axios.get('http://localhost:8080/api/PermissionType').then(response => {
                    this.PermissionsType = response.data
                });
            },

            //Validate before create or edit
            validation: function () {
   
                if (this.nameEmployee && this.lastNameEmployee && this.permissionTypeId > 0 && this.permissionDate) {

                    if (this.$route.params.id > 0) {
                        this.editPermission();

                    } else {
                        this.addPermission();
                    }
                }

                if (!this.nameEmployee) {
                    this.$bvToast.toast('The First Name Employee is required.', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                }
                if (!this.lastNameEmployee) {
                    this.$bvToast.toast('The Last Name Employee is required.', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                   
                }
                if (!this.permissionTypeId) {
                    this.$bvToast.toast('The Permission Type is required.', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                   
                }
                if (!this.permissionDate) {
                    this.$bvToast.toast('The date is required.', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                }
            },

            //Create permission
            addPermission: function () {
                

                this.Create = {
                    nameEmployee: this.nameEmployee,
                    lastNameEmployee: this.lastNameEmployee,
                    permissionTypeId: this.permissionTypeId,
                    permissionDate: this.permissionDate

                }

                const headers = {
                    "content-type": "application/json",
                    "dataType": "json",
                    "data": JSON.stringify(this.Create)
                };

                this.axios.post('http://localhost:8080/api/Permissions', JSON.stringify(this.Create), { headers}
                ).then(() => {
                    this.nameEmployee = "",
                        this.lastNameEmployee = "",
                        this.permissionDate = "",
                        this.permissionTypeId = 0,

                        this.$bvToast.toast('Permission created', {
                            title: 'Success',
                            variant: 'success',
                            solid: true
                        })
                }).catch(err => {
                    if (err.response) {
                        this.$bvToast.toast('Permission not created', {
                            title: 'Error',
                            variant: 'danger',
                            solid: true
                        })
                        // client received an error response (5xx, 4xx)
                    } else if (err.request) {

                        // client never received a response, or request never left
                    } else {
                        // anything else
                    }
                })
            },

            //Edit permission
            editPermission: function () {

                this.Edit = {
                    id: this.$route.params.id,
                    nameEmployee: this.nameEmployee,
                    lastNameEmployee: this.lastNameEmployee,
                    permissionTypeId: this.permissionTypeId,
                    permissionDate: this.permissionDate

                }

                const headers = {
                    "content-type": "application/json",
                    "dataType": "json",
                    "data": JSON.stringify(this.Edit)
                };

                this.axios.put('http://localhost:8080/api/Permissions/' + this.$route.params.id, JSON.stringify(this.Edit), { headers })
                    .then(() => {
                        this.goToIndex()
                    })
                    .catch(err => {
                    if (err.response) {
                        this.$bvToast.toast('Permission not edited', {
                                title: 'Error',
                                variant: 'danger',
                                solid: true
                            })
                        // client received an error response (5xx, 4xx)
                    } else if (err.request) {
                        // client never received a response, or request never left
                    } else {
                        // anything else
                    }
                })

            },

            //Get Permission
            getPermission: function (id) {
               
                this.axios.get('http://localhost:8080/api/Permissions/' + id).then(response => {

                    this.nameEmployee = response.data.nameEmployee,
                    this.lastNameEmployee = response.data.lastNameEmployee,
                    this.permissionTypeId = response.data.permissionTypeId,
                    this.permissionDate = response.data.permissionDate
                });
            },

            //Go to index
            goToIndex: function () {

                this.$router.push({
                    name: 'Home'
                })
            },

            //Change html element
            changeElement: function () {
            var vm = this;
            vm.Title = "Edit Permission";
            vm.button.text = "Edit"
            }
        }
    }

</script>


