<template>
    <div class="home" style="margin-right: 25px;margin-left: 25px;margin-bottom: 25px;">
        <img alt="Vue logo" src="../assets/logo.png" width="100" height="100">

        <b-col class="row d-flex flex-row" style="padding-right: 0px;margin-left: 0px;margin-bottom: 20px;padding-left: 5px;">
            <b-button variant="primary" to="DetPermission/0">Create Permission</b-button>
        </b-col>
           
        <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Permissions</h6>
                </div>
                <div class="card-body">
                    <b-table hover :items="Permissions" :fields="fields">
                        <template #cell(Edit)="row">
                            <b-button size="sm" variant="success" @click="goToDet(row.item.id)" class="mr-2">
                                Edit
                            </b-button>
                        </template>
                        <template #cell(Delete)="row">
                            <b-button size="sm" variant="danger" @click="showModalDelete(row.item.id)" class="mr-2">
                                Delete
                            </b-button>
                        </template>
                    </b-table>
                </div>
            </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--<script src="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.js"></script>-->
<script>

    export default {
        name: 'Home',
        components: {

        },
        data() {
            return {
                fields: ['id', 'nameEmployee', 'lastNameEmployee', 'permissionDate', 'description', 'Edit', 'Delete'],
                Permissions: []
            }
        },
        created() {
            this.getPermission();
        },
        methods: {

            //Call the modal delete
            showModalDelete: function (id) {

                this.$swal({
                    title: "Are you sure?",
                    text: "Do you want to removed this permission?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false

                }).then((confirmed) => {
                    if (confirmed.isConfirmed == true) {

                        this.Delete(id);
                        this.$swal("Ready", "Permission removed!", "success")
                    } else {
                        this.$swal("Cancelled", "Your permission has not been removed!", "error");
                    }
                });

            },

            //Get permission
            getPermission: function () {
                this.axios.get('http://localhost:8080/api/Permissions').then(response => {
                    this.Permissions = response.data
                });
            },

            //Remove the permission
            Delete: function (id) {

                this.axios.delete('http://localhost:8080/api/Permissions/' + id).then(response => {
                    this.getPermission();
                    //this.$toastr.success('Success', 'Title', options);               
                }).catch((error) => {
                    // Show error
                    //this.$toastr.error('Error', 'Title', options);
                });

            },

            //Go to detail
            goToDet: function (id) {
               
                this.$router.push({
                    name: 'DetPermission',
                    params: { id: id}
                })
            }
        }
    }
</script>
